Demo_WebService/Service References/SRMWebService/WSForWmsKd.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns0="http://wmsKd.server.cxf.srm/" targetNamespace="http://wmsKd.server.cxf.srm/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="requWmsHead">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="code" type="xsd:string" />
      <xsd:element minOccurs="0" name="extend1" type="xsd:string" />
      <xsd:element minOccurs="0" name="extend2" type="xsd:string" />
      <xsd:element minOccurs="0" name="extend3" type="xsd:string" />
      <xsd:element minOccurs="0" name="extend4" type="xsd:string" />
      <xsd:element minOccurs="0" name="extend5" type="xsd:string" />
      <xsd:element minOccurs="0" name="extend6" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="requWmsReqList">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="requList" nillable="true" type="ns0:requWmsBody" />
      <xsd:element minOccurs="0" name="requWmsHead" type="ns0:requWmsHead" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getWms">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="requWmsReqList" type="ns0:requWmsReqList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getWmsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="requWmsBody">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="RTVquantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="SRMLineNo" type="xsd:int" />
      <xsd:element minOccurs="0" name="date" type="xsd:string" />
      <xsd:element minOccurs="0" name="extend1" type="xsd:string" />
      <xsd:element minOccurs="0" name="extend2" type="xsd:string" />
      <xsd:element minOccurs="0" name="extend3" type="xsd:string" />
      <xsd:element minOccurs="0" name="extend4" type="xsd:string" />
      <xsd:element minOccurs="0" name="extend5" type="xsd:string" />
      <xsd:element minOccurs="0" name="extend6" type="xsd:string" />
      <xsd:element minOccurs="0" name="itemCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="qualifiedQty" type="xsd:double" />
      <xsd:element minOccurs="0" name="quantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="scrapquantity" type="xsd:double" />
      <xsd:element minOccurs="0" name="status" type="xsd:string" />
      <xsd:element minOccurs="0" name="unit" type="xsd:string" />
      <xsd:element minOccurs="0" name="unqualifiedResult" type="xsd:string" />
      <xsd:element minOccurs="0" name="unqualifiedType" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getWms" type="ns0:getWms" />
  <xsd:element name="getWmsResponse" type="ns0:getWmsResponse" />
</xsd:schema>